* {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
    padding-left: 80px;
    background-color: #fff !important;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}
.nav-link {
    margin-left: 30px;
}
.jumbotron {
    height: 620px !important;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 200px;
}
.headline {
    margin-top: 100px;
    width: 50%;
}
.headline h1 {
    line-height: 3.55rem;
    font-weight: bold;
    margin-top: 50px;
}
.description {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 40px;
}
.mainImage {
    width: 42%;
    position: absolute;
    z-index: 2;
    top: 14%;
    right: 4%;
}
.mainImage {
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.textWeight {
    font-weight: bold;
}
.services {
    margin-top: 150px;
}
.services p {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}
.button {
    padding: 12px 24px !important;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to left, orange, rgb(216, 216, 3));
}
.button2 {
    padding: 12px 24px;
    font-weight: bold;
}
.button2:hover {
    color: orange;
    background-color: #fff;
}
.button:hover {
    color: #fff;
}
.listFeature {
    margin-top: 40px;
}
.listFeature h3 {
    margin-top: 20px;
}
.listFeature p {
    margin-top: 20px;
}
.productRunning {
    margin-top: 150px;
}

.MainFeature,
.gallery {
    margin-top: 150px;
}
.MainFeature h1 {
    padding-top: 20px;
    padding-right: 20px;
    line-height: 3.55rem;
}
.MainFeature .button {
    margin-bottom: 40px;
}
.imageMainFeature {
    height: 400px;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
.imagegallery {
    height: 300px;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.secondGrid {
    margin-top: 30px;
}

.footer {
    margin-top: 150px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 70px;
    color: #fff;
    background-image: linear-gradient(to right, #000000 100%, rgb(24, 20, 20) 0%);
}
.footerbrand,
.discover,
.fitur,
.googleForm {
    margin: 0 auto;
}
.discover h4,
.fitur h4 {
    padding-bottom: 18px;
}

.googleForm .button {
    margin-top: 40px;
    width: 70%;
}

.footerLineHeight {
    line-height: 1rem;
}
.text-muted {
    padding-top: 10px;
    color: #fff !important;
}
.download {
    width: 100%;
    display: flex;
}
.download .playstore,
.download .appstore {
    width: 50%;
    background-size: cover;
}
.playstore img,
.appstore img {
    width: 90%;
}
.playstore:hover {
    cursor: pointer;
}
.appstore:hover {
    cursor: pointer;
}
.copyright {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}